.wrap {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
}

.buttonAddNewCustomer {
    display: flex;
    justify-content: end;
    margin: 12px 0;
}

.header {
    display: flex;
    min-height: 116px;
    flex-direction: column;
    background-color: white;
    .headerTitle {
        display: flex;
        background-color: white;
        justify-items: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: rgb(232, 234, 235) 0px -1px 0px 0px inset;
        height: 48px;
        button {
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 14px;
            height: 48px;
            padding: 6px 16px;
        }
        .active {
            color: #0088ff;
            border-bottom: 2px solid rgb(0, 136, 255);
        }
    }
    .headerSearch {
        display: flex;
        padding: 16px;
        align-items: center;
        flex-direction: row;
        height: 68px;
        width: 100%;
        .inputSearch {
            display: flex;
            padding: 16px 0;
            align-items: center;
            flex-direction: row;
            position: relative;
            width: 100%;

            .iconSearch {
                color: #637381;
                font-size: 22px;
                position: absolute;
                margin-left: 12px;
            }
            input {
                background: transparent;
                padding: 10px 12px 10px 40px;
                width: 100%;
                height: 36px;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 3px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin: 0px;
                color: rgb(15, 24, 36);
                &:hover {
                    border: 1px solid #637381;
                }
                &:focus {
                    border: 1px solid #0088ff;
                    caret-color: #0088ff;
                }
            }
        }
    }
}

.table {
    width: 100%;
    height: 100%;
    background-color: white;
}

.dataGrid {
    cursor: pointer;
}
