.wrap {
    padding: 0 32px 30px 32px;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    div {
        display: flex;
        gap: 12px;
    }
}

.content {
    box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: white;
    width: 100%;
    height: 600px;
    .contentTitle {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
            'Droid Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 22px;
        padding: 16px;
    }
    .contentHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        border-bottom: 1px solid #e8eaeb;
        padding: 0 16px;

        .optionsStatistic {
            display: flex;
            align-items: center;
            gap: 12px;
            span {
                color: black;
                font-weight: 600;
                font-size: 15px;
            }
            .innerOptionsStatistic {
                width: 230px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }
        .dateStatistic {
            display: flex;
            align-items: center;
            margin-left: 24px;
            .wrapDatePicker {
                display: flex;
                align-items: center;
                gap: 12px;
                color: black;
                font-weight: 600;
                font-size: 15px;
            }
            .lineTo {
                width: 40px;
                height: 1px;
                background-color: #ccc;
                margin: 0 12px;
            }
        }
    }
    .wraContentBody {
        display: flex;
        justify-content: space-between;
        margin-right: 12px;
        .contentBody {
            .contentBodyTitle {
                margin: 16px 16px 36px 16px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
                    'Droid Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
                font-size: 16px;
                color: #33a0ff;
            }
            .contentBodyCharts {
                margin-left: 30px;
            }
        }
    }
    
}
