.wrap {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
    width: 80%;
    margin-top: 32px;
    margin-left: 10%;
}

.homeSummary {
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
    margin-bottom: 24px;
    .homeSummaryTitle {
        display: flex;
        height: 64px;
        padding: 0 16px;
        align-items: center;
        border-bottom: 1px solid #e8eaeb;
        h6 {
            font-size: 15.75px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
                'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-weight: 500;
            line-height: 20px;
        }
    }
    .homeSummaryParameter {
        width: 100%;
        display: flex;
        .parameterItem {
            height: 92px;
            width: 25%;
            display: flex;
            padding: 0 0 0 36px;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: #f2f9ff;
            }
            .wrapItem {
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                border-right: 1px dashed #e8eaeb;
                .wrapIcon {
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    border-radius: 50%;
                    justify-content: center;
                }
                .wrapValue {
                    display: flex;
                    flex-flow: column;
                    flex-wrap: wrap;
                    margin-left: 8px;
                    justify-content: center;
                    .itemTitle {
                        h6 {
                            font-size: 14px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                                sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                            font-weight: 500;
                            line-height: 20px;
                            margin-bottom: 4px;
                        }
                    }
                    .itemValue {
                        h5 {
                            font-size: 18px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                                sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    .topProduct {
        width: calc(50% - 12px);
        background: #fff;
        box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);

        .topProductTitle {
            height: 64px;
            display: flex;
            padding: 0 16px;
            align-items: center;
            border-bottom: 1px solid #e8eaeb;
            justify-content: space-between;
            h6 {
                font-size: 15.75px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
                    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                font-weight: 500;
                line-height: 20px;
            }
        }
        .topProductContent {
            .topProductItem {
                width: 100%;
                height: 56px;
                display: inline-flex;
                padding: 10px 16px;
                align-items: center;
                cursor: pointer;
                &:hover {
                    background-color: #f2f9ff;
                }
                .itemIcon {
                    width: 30px;
                    height: 30px;
                    font-size: 16px;
                    margin-right: 12px;
                    display: flex;
                    overflow: hidden;
                    position: relative;
                    align-items: center;
                    flex-shrink: 0;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                    line-height: 1;
                    border-radius: 50%;
                    justify-content: center;
                    color: white;
                }
                .itemName {
                    .itemNameProduct {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-size: 14px;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                            sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                        font-weight: 500;
                        line-height: 20px;
                        color: #0f1824;
                    }
                    .itemNameSKU {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #747c87;
                        font-size: 13.4px;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                            sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                        font-weight: 400;
                        line-height: 19px;
                    }
                }
                .itemQuantity {
                    align-self: flex-start;
                    margin-left: auto;
                    padding-left: 10px;
                    color: #0f1824;
                    font-size: 16px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
                        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}

.listProductEmpty {
    width: 100%;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b5b5c;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
