.box {
    .headerBox {
        font-size: 20px;
        font-weight: 600;
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d6d2d2;
    }
    .rating {
        display: flex;
        font-size: 15px;
        padding: 16px 16px 0 16px;
        gap: 18px;
    }
    .contentBox {
        padding: 16px 16px;
        .wrapItemInnerContentBox {
            width: 100%;
            height: 74px;
            display: flex;
            justify-content: space-between;

            .itemInnerContentBox {
                min-width: 260px;
                width: 260px;
                .tickRed {
                    color: red;
                }
            }
        }
        .contentTitle {
            color: rgb(70, 81, 95);
            font-size: 15px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
                'Droid Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
        }
        .contentText {
            margin-top: 12px;
            .errorSave {
                border: 1px solid red !important;
            }
            textarea {
                resize: none;
                background: rgb(255, 255, 255);
                box-sizing: border-box;
                padding: 10px 12px;
                width: 100%;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 3px;
                min-height: 200px;
                max-height: 200px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin: 0px;
                color: rgb(15, 24, 36);
                &:hover {
                    border: 1px solid #637381;
                }
                &:focus {
                    border: 1px solid #0088ff;
                }
            }
        }
        .itemRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 24px;
            .itemRowTitle {
                margin-right: 12px;
            }
            .button {
                width: 55px;
                height: 35px;
                border: 1px solid #0964cf;
                background-color: white;
                color: #0964cf;
            }
            .active {
                background-color: #0964cf;
                color: white;
            }
            .wrapInput {
                width: 100px;
                height: 35px;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    text-align: end;
                    font-size: 16px;
                }
                &::before {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    position: absolute;
                    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    border-bottom: 1px solid #cfd5df;
                    pointer-events: none;
                }
                &:hover {
                    &::before {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: '';
                        position: absolute;
                        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        border-bottom: 1px solid #0964cf;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .warningContentEmpty {
        font-size: 14px;
        color: red;
        margin-left: 16px;
        margin-top: -8px;
    }
    .optionsStatistic {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 44px;
        margin-left: 40px;
        margin-top: 24px;
        span {
            color: black;
            font-weight: 600;
            font-size: 15px;
        }
        .innerOptionsStatistic {
            width: 280px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
                'Droid Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 14px;
            margin-left: 46px;
        }
    }
    .dateStatistic {
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-top: 60px;
        .wrapDatePicker {
            display: flex;
            align-items: center;
            gap: 12px;
            color: black;
            font-weight: 600;
            font-size: 15px;
        }
        .lineTo {
            width: 40px;
            height: 1px;
            background-color: #ccc;
            margin: 0 12px;
        }
    }
    .footer {
        display: flex;
        gap: 16px;
        position: absolute;
        bottom: 16px;
        right: 10px;
    }
}
