.wrap {
    flex: 1 1 auto;
    display: flex;
    padding: 0 32px 40px;
    flex-direction: column;
}

.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menuSub{
        display: flex;
        align-items: center;
    }
}

.importOrder-btn{
    border: none;
    padding: 8px 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 136, 255);
    fill:#fff;
    font-weight: 500;
    border-radius: 5px;

    .import-icon {
        margin-right:10px;
    }
}

.importOrder-btn:hover{
    background-color: rgb(48, 159, 255);
} 


.content{
    box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
    background-color: white;
    border-bottom: 1px solid rgba(168, 168, 168, 0.25);

    .btnContent {
        border: none;
        color: gray;
        padding: 15px 25px;
        text-align: center;
        font-size: 14px;
        margin: 1px 1px;
        transition-duration: 0.4s;
        background-color: white;
        font-weight: 500;
        cursor: pointer;
        border-bottom: 3px solid white;
    }
      
    .btnContent:hover {
        border-bottom: 3px solid gray;
    }
}


/**Search**/
.search {
    background-color: white;
    padding: 16px 16px;
    display: flex;

    .searchSub {
        padding-right: 64px;

        .searchField {
            border: 1px solid   rgba(168, 168, 168, 0.25);
            color: gray;
            padding: 6px 5px;
            border-radius: 5px;
        
            input {
                margin: 1 rem;
                padding-left: 10px;
                border: none;
                outline: white;
                width: 500px;
                font-size: 16px;
            }
        }
    }

    .searchFilter{
        display: flex;
    
        .filter{
            border: 1px solid   rgba(168, 168, 168, 0.25);
            padding: 6px 16px;
        
            button{
                border: none;
                background-color: white;
            }
         
            span{
                padding-left: 16px;
            }
        } 
    }
}
/**EndSearch**/


.table {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
    background-color: white;

    .dataGrid {
        cursor: pointer;
    }
}

/**/
.complete-status {

        font-weight: 500;
        align-items: center;
        vertical-align: middle;
        padding: 0.285714rem;
        border-radius: 1.14286rem;
        height: 1.71429rem;
        border: 1px solid rgb(159, 237, 207);
        margin-left: 0.857143rem;
        color: rgb(51, 163, 120);   
        background-color: rgb(244, 255, 251); 
}

.init-pay {
        font-weight: 500;
        align-items: center;
        vertical-align: middle;
        padding: 0.285714rem;
        border-radius: 1.14286rem;
        height: 1.71429rem;
        border: 1px solid #ffdd98;
        margin-left: 0.857143rem;
        color: #cd8d02;    
        background-color: #fefaf2;
}

.init-ship {
    
    
        font-weight: 500;
        align-items: center;
        vertical-align: middle;
        padding: 0.285714rem;
        border-radius: 1.14286rem;
        height: 1.71429rem;
        border: 1px solid #9d9d9d;
        margin-left: 0.857143rem;
        color: #535353;   
        background-color: #eaeaea;
}

.buttonAddNewCustomer {
    display: flex;
    justify-content: end;
    margin: 12px 0;
}

.header {
    display: flex;
    min-height: 116px;
    flex-direction: column;
    background-color: white;
    .headerTitle {
        display: flex;
        background-color: white;
        justify-items: center;
        align-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: rgb(232, 234, 235) 0px -1px 0px 0px inset;
        height: 48px;
        button {
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 14px;
            height: 48px;
            padding: 6px 16px;
        }
        .active {
            color: #0088ff;
            border-bottom: 2px solid rgb(0, 136, 255);
        }
    }
    .headerSearch {
        display: flex;
        padding: 16px;
        align-items: center;
        flex-direction: row;
        height: 68px;
        width: 100%;
        .inputSearch {
            display: flex;
            padding: 16px 0;
            align-items: center;
            flex-direction: row;
            position: relative;
            width: 100%;

            .iconSearch {
                color: #637381;
                font-size: 22px;
                position: absolute;
                margin-left: 12px;
            }
            input {
                background: transparent;
                padding: 10px 12px 10px 40px;
                width: 100%;
                height: 36px;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 3px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin: 0px;
                color: rgb(15, 24, 36);
                &:hover {
                    border: 1px solid #637381;
                }
                &:focus {
                    border: 1px solid #0088ff;
                    caret-color: #0088ff;
                }
            }
        }
    }
}
