@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"); */

/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Marck+Script&family=Meddon&family=Pacifico&display=swap');

/* fontawesome */
@import './assets/fontawesome/css/all.scss';

@import './assets/keenthemes-icons/ki.css';
/* ki */
/* @import "~perfect-scrollbar"; */
/* perfect scrollbar */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  /* font size of root element (rem) */
  font-size: 13px !important;
}

body {
  margin: 0;
  /* font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", */
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9fbff !important;
}
.table-hover tbody tr:hover {
  color: #3f4254;
  background-color: #e4e6ef !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: transparent !important;
}
