.wrap {
    float: left;
    width: calc(100% - 452px);
    height: calc(100vh - 50px);
    padding: 5px 5px 0 5px;
    background: #fff;
    margin-right: 7px;
}

.infoTitle {
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding-right: 15px;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid #2d609b;
    }
}

.content {
    // height: calc(100% - 220px);
    transition: height 0.5s ease;
    overflow: auto;
}

.OrderNoItem {
    margin-top: 140px;
    div {
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
}

.wrapItem {
    border: 2px solid transparent;
    display: flex;
    padding: 5px 12px 5px 2px;
    background: #fff;
    min-height: 60px;
    transition: 5ms;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 6px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numericalOrder {
    width: 23px;
    margin-left: 5px;
}

.wrapDelete {
    width: 40px;
    min-width: 40px;

    text-align: center;
    cursor: pointer;
    .iconDelete {
        font-size: 18px;
    }
    &:hover {
        .iconDelete {
            color: #4d97eb;
        }
    }
}

.imageProduct {
    padding-left: 20px;
    width: 75px;
    min-width: 75px;
    .alignImageProduct {
        width: 40px;
        height: 40px;
        margin-left: 6px;
        margin-right: -4px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.codeSKU {
    padding-left: 20px;
    width: 110px;
    min-width: 110px;
}

.nameProduct {
    flex: 1 1 auto;
    padding-left: 17px;
}

.unit {
    width: 100px;
    min-width: 100px;
    text-align: right;
}

.quantity {
    width: 130px;
    min-width: 130px;
    text-align: center;
    .innerQuantity {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 28px;
        /* Ẩn stepper */
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
        .quantityButton {
            display: none;
            width: 20px;
            height: 20px;
            padding: 0;
            border-radius: 3px;
            margin-bottom: 8px;
            background-color: #d3dff0;
            cursor: pointer;
        }
        .quantityValue {
            color: currentColor;
            width: 72px;
            border: 0;
            height: 1.1876em;
            margin: 0;
            display: block;
            padding: 6px 0 10px;
            min-width: 0;
            background: none;
            text-align: center;
            outline: none;
            position: relative;
        }
        &:hover {
            .quantityButton {
                display: block;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 72px;
                border-bottom: 2px solid #2d609b;
            }
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 72px;
            border-bottom: 2px solid #b9bbbe;
        }
    }
}

.price {
    width: 100px;
    min-width: 100px;
    text-align: right;
}

.intoMoney {
    width: 130px;
    min-width: 130px;
    text-align: right;
}

.toggle {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    height: 6px;
    width: 100%;
    position: relative;
    .toggleWrap {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -8px;
        cursor: pointer;
        border: 2px solid #0964cf;
        transition: bottom 0.5s;
    }
}

.quickAction {
    width: 100%;
    padding: 8px;
    transition: height 0.5s ease;
    position: relative;
    overflow: hidden;
    .dataEmpty {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 100px;
    }
    .quickActionContent {
        height: 186px;
        display: grid;
        grid-template-columns: repeat(4, 0.1fr); /* Hiển thị 4 cột trên mỗi hàng */
        grid-gap: 16px; /* Khoảng cách giữa các mục */
        grid-row-gap: 0px; /* Thu hẹp khoảng cách giữa hai hàng */
        width: 100%;
        margin-top: 6px;
        margin-bottom: -6px;
        .wrapItemFeature {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 238px;
            height: 72px;
            margin-left: 12px;
            border-radius: 5px;
            padding: 8px;
            display: flex;
            gap: 8px;
            align-items: center;
            cursor: pointer;
            &:hover {
                border: 1px solid;
                background: rgba(9, 100, 207, 0.1);
                box-shadow: 2px 2px 4px #d9d9d9;
                border-color: rgba(9, 100, 207, 0.1);
                border-radius: 5px;
            }
            .wrapImage {
                width: 60px;
                height: 60px;
                padding: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .wrapContentItem {
                min-height: 68px;
                font-size: 14px;
                width: 160px;
                .rowOne {
                    width: 160px;
                    margin-top: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .rowTwo {
                    display: flex;
                    justify-content: space-between;
                    width: 160px;
                    margin-top: 8px;
                    margin-right: 8px;
                    div {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .quickActionBottom {
        height: 56px;
        display: flex;
        margin-left: 12px;
        margin-right: 12px;
        justify-content: space-between;
        .quickActionFeature {
            .buttonFeature {
            }
        }
        .quickActionPagination {
        }
    }
}

// .quickAction.actionToggle {
//     height: 0;
//     overflow: hidden;
// }
